:root{
    --mine-color:#607d8b;
    --mine2-color:#009688;
}
body{
    background-color: #eee;
    padding: 30px;
    display: grid;
    row-gap: 30px;
}
body > hr{
    width: 100%;
    border: 0.5px #00000005 solid;
}
body > div > hr{
    width: 100%;
    border: solid 0.3px #eee;
}
.Information-about-theplayer , .points-log , .Trophies , .Ladder-News , .your-powers{
    background-color: #fff;
    padding: 20px;
}
h1{
    color: #fff;
    background-color: var(--mine-color);
    display: inline-block;
    padding: 10px;
}
.Information-about-theplayer{
    position: relative;
    height: 210px;
}
.Information-about-theplayer > h1{
    position: absolute;
    top: 10px;
    left: 245px;
    background-color: #fff;
    color: black;
    margin: 0;
    padding: 0;
}

.hr-forlevel{
    height: 100%;
    width: 1px;
    position: absolute;
    left: 230px;
    top: 0;
    border: solid 0.1px #eeeeeee3;
}
.Information-about-theplayer > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 60px;
}
h3{
    position: absolute;
    left: 75px;
    top: 130px;
}
h3::after{
    content: "";
    background-color: var(--mine2-color);
    width: 165px;
    height: 20px;
}
 h3 + p{
    position: absolute;
    left: 35px;
    bottom: 5px;
}
.Information-about-theplayer p:last-child{
    position: absolute;
    right: 20px;
    bottom: 5px;
}
.Information-about-theplayer > h1+p{
    position: absolute;
    top: 40px;
    left: 245px;
}
.Information-about-theplayer > p > span{
    color: var( --mine2-color);
    margin: 2px;
    font-weight: bold;
}

